
#runningtotal {
    position: fixed;
    top: 65%;
    right: 35%;
    width: 148px;
    height: 100px;
    
    float: right;
    background-color: rgb(215,215,215);
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
}